<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
        
          {% for item in site.data.menus.languages %}
          {% if item.language == page.lang %}
          <h3 class="footer-title">{{ item.name }}</h3>
          {% endif %}
          {% endfor %}
            <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            {% if item.language == page.lang %}
            {% for link in item.links %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              {% if link.url contains "http" %}
              {% assign url = link.url %}
              {% else %}
              {% assign url = link.url | relative_url %}
              {% endif %}
              <a href="{{ url }}">{{ link.name }}</a>
            </li>
              {% endfor %}
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
