
<!--
This code generates the menu items, except for the language switcher.
-->

  <div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.languages %}
  {% assign posts = site.sessions | where:"ref", page.ref %}
  <ul>
  {% for item in mainmenu %}
  {% if item.language == page.lang %}
  {% for link in item.links %}
  <li class="{% if item.url == page.url %}active{% endif %}">
    {% if link.url contains "http" %}
    {% assign url = link.url %}
    {% else %}
    {% assign url = link.url | relative_url %}
    {% endif %}
    <a href="{{ url }}">{{ link.title }}</a>
  {% endfor %}
  {% endif %}
  {% endfor %}
</li>

<!--
The following code generates the lanugage switcher in the top navigation menu. It's inelegant, as there are two separate items that do almost the same thing.

The first bit of code is for 'session' pages. These are unique because they have a year in the URL. Note that this works for archived sessions as well.

The second code is for main pages. These do not have a year in the URL. Without this second piece of code, the session pages will have two language switchers, one of which is wrong. These both hinge on the 'presentation' tag, found in the yaml metadata of the session pages.
-->

{% for item in mainmenu %}
  {% if item.language == page.lang %}
  {% if page.category == "presentation" %}
  {% if page.ref != "program" %}
  <li>
     <a href="{{ site.url }}/{{ page.archive }}/{{ item.opposite }}/{{page.ref}}">{{ item.opposite | upcase }}</a>
  </li>
  {% endif %}
  {% endif %}
  {% endif %}
{% endfor %}

{% for item in mainmenu %}
  {% if item.language == page.lang %}
  {% if page.ref == "program" %}
  <li>
     <a href="{{ site.url }}/{{ item.opposite }}/{{page.ref}}">{{ item.opposite | upcase }}</a>
  </li>
  {% endif %}
  {% endif %}
{% endfor %}

{% for item in mainmenu %}
  {% if item.language == page.lang %}
  {% if page.category != "presentation" %}
    <li>
<a href="{{ site.url }}/{{ item.opposite }}/{{page.ref}}">{{ item.opposite | upcase }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}

</ul>
</div>
