<div class="content">
<blockquote>
{% assign sidebar = site.data.menus.languages %}
{% for item in sidebar %}
  {% if item.language == page.lang %}
<p>
  <ul>
    {{item.presenter}}
{% if page.presenter %}

  {% for person in page.presenter %}
<li class="presenter-list"><a href="{{ site.url }}/{{ page.lang}}/{{ person | downcase | replace:' ','-'}}">{{ person }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

</p>
<p>
{% if page.length %}
  <ul>
    {{item.time-commit}}
  <li class="presenter-list">{{ page.length }}</li>
  <ul>
{% endif %}
</p>
<p>
{% if page.session-link %}
  <a href="{{ page.session-link }}">{{item.youtube}}</a>
{% endif %}
</p>
{% endif %}
{% endfor %}
</blockquote>
</div>
