<div class="content">
<blockquote>
{% assign posts_by_day = site.sessions | where: "lang", page.lang | where: "category", page.category | group_by_exp:"session", "session.date" | sort:"weight" %}
  {% for group in posts_by_day %}

    {% if page.date == group.name %}
  <strong>  {% include date-selector.html %} </strong>
    {% endif %}

  {% endfor %}

{% assign sidebar = site.data.menus.languages %}
{% for item in sidebar %}
  {% if item.language == page.lang %}


<p>
{{ page.hour }}
  <ul>
    {% if page.presenter %}
    {{item.presenter}}
    <li class="presenter-list">

  {% for person in page.presenter %}

  <a href="{{ site.url }}/{{ page.lang}}/bio#{{ person | downcase | replace:' ','-'}}">

  {{ person }}
  </a>
  <br/>
  {% endfor %}
  </li>
  {% endif %}

</ul>

</p>
<p>
<ul>
  {% if page.slides %}
  {{item.slides}}
  <li class="presenter-list">
{% for slide in page.slides %}
<a href="{{ slide }}">Document #{{ forloop.index }}</a><br/>{% endfor %}</li>

{% endif %}
</p>

<p>
{% if page.session-link %}
  <a href="{{ page.session-link }}">{{item.youtube}}</a>
{% endif %}
</p>


{% endif %}
{% endfor %}

</blockquote>
</div>
