---
layout: default
---



<div class="container pb-3 pt-6 pt-md-5 pb-md-10">
  <div class="d-flex justify-content-between">

    <p></p>
  </div>
    <div class="row justify-content-start">
    <div class="col-12 col-md-8 pt-2 order-1 order-md-1">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">{{content}}</div>
    </div>
    <div class="col-md pt-10 mt-2 order-2 order-md-2 position-relative">
      {% if page.image %}
      <img alt="picture of {{ page.title }}" class="intro-image" src="{{ page.image | relURL }}" />
      {% endif %}
  </div>
</div>
</div>
